.blue{
    color: #30A9FF;
}
.blue-active{
    color: #2CCBE8;
}
.blue-light{
    color: #3EFFE9;
}
.green-active{
    color: #2CE89D;
}
.green-L{
    color: #27CC5B;
}


.green{
    color: #30FF72;
}
.gray{
    color: #949C8F;
}
.gray-dark{
    color: #575C54;
}
.gray-light{
    color: #D0DBCA;
}
.gray-lean{
    color: #DCE8D5;
}
.gray-simple{
    color: #B8C2B2;
}